@using DbModel.ViewModel.Login
@model LoginVM
@{
    ViewBag.Title = "Index";
}

<h2>登入</h2>
@ViewBag.isLogin
@ViewBag.UserProfile
<form action="@Url.Action("Index")" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" name="ReturnUrl" value="@Request.QueryString["ReturnUrl"]"/>
    <table>
        <tr>
            <td>@Html.LabelFor(o=>o.UserEmail)</td>
            <td>@Html.TextBoxFor(o=>o.UserEmail)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(o=>o.Password)</td>
            <td>@Html.PasswordFor(o=>o.Password)</td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="send" /></td>
        </tr>
    </table>
</form>