@using DbModel.ViewModel.Login
@model LoginVM
@{
    ViewBag.Title = "Index";
}

<h2>User Login</h2>
<style>
    .projectNoWidget
    {
        display:none;
    }
</style>
<script>
    var verifyUser = function () {
        $.ajax({
            url: "/Login/GetProjectByUser",
            type: "post",
            data: $("#loginForm").serialize(),
            dataType: "json",
            success: function (data) {
                if (data != null) {
                    for (var i in data) {
                        var p = data[i];
                        var opt = $("<option/>");
                        opt.text(p.ProjectName);
                        opt.val(p.ProjectNo);
                        console.log(opt);
                        $("select[name='ProjectNo']").append(opt);
                    }
                    $(".projectNoWidget").show();
                    $(".verifyWidget").hide();
                } else {
                    alert("Login Fail");
                }
            }
        });
    }

    var formSubmit = function () {
        $("#loginForm").submit();
    }
</script>
<form action="@Url.Action("Index")" method="post" id="loginForm" class="form-horizontal well">
    @Html.AntiForgeryToken()
    <input type="hidden" name="ReturnUrl" value="@Request.QueryString["ReturnUrl"]"/>
    <div class="form-group">
        <label class="col-lg-2 control-label">@Html.LabelFor(o => o.UserEmail)</label>
        <div class="col-lg-10">
            @Html.TextBoxFor(o => o.UserEmail, new { @class="form-control"})
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label">@Html.LabelFor(o => o.Password)</label>
        <div class="col-lg-10">
            @Html.PasswordFor(o => o.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group verifyWidget text-center">
        <a href="javascript:verifyUser()" class="btn btn-primary">Verify User</a>
    </div>
    <div class="form-group projectNoWidget">
        <label class="col-lg-2 control-label">@Html.LabelFor(o => o.ProjectNo)</label>
        <div class="col-lg-10">
            <select name="ProjectNo" class="form-control ">
                <option value="">Please Choose</option>
            </select>
        </div>        
    </div>
    <div class="form-group projectNoWidget text-center">
        <a href="javascript:formSubmit()" class="btn btn-primary">Login</a>
    </div>    
</form>