@using DbModel
@model List<Project>
@{
    ViewBag.Title = "Project";
}

<h2 class="col-xs-8">Project List</h2>
<a href="@Url.Action("Create")" class="btn btn-primary fa fa-plus pull-right" title="Add Project"></a>
<form action="@Url.Action("DeleteItem")" method="post" id="mainList">
    <table class="table table-hover">
        <tr>
            <th></th>
            <th>Project Name</th>
            <th>Edit User</th>
            <th>Edit SubFunction</th>
        </tr>
        @foreach (Project p in Model)
        {
            <tr>
                <td><input type="checkbox" value="@p.ProjectNo" name="id" /></td>
                <td> <a href="@Url.Action("Edit", new { @id = p.ProjectNo })">@p.ProjectName</a></td>
                <td><a href="@Url.Action("UserList", new { @id = p.ProjectNo})" class="btn btn-primary fa fa-user" title="Edit User"></a></td>
                <td><a href="@Url.Action("EditSubFunction", new {@id = p.ProjectNo })" class="btn btn-primary fa fa-share-alt" title="Edit SubFunction"></a></td>
            </tr>
        }
    </table>

    <input type="submit" value="Submit" class="btn btn-primary"/>
</form>

