@using DbModel.ViewModel.User
@using DbModel
@model Tuple< UserProfile,ProjectAndUsers>
@{
    string action = (string)ViewContext.RouteData.Values["action"];
    UserProfileVM user = (UserProfileVM)ViewBag.UserProfile;
    CompanyProfile company = (CompanyProfile)ViewBag.Company;
    ProjectAndUsers pau = (ProjectAndUsers)ViewBag.ProjectAndUsers;
    string UserEmailName = string.Empty;
    if(!string.IsNullOrWhiteSpace(Model.Item1.UserEmail)){
        UserEmailName = Model.Item1.UserEmail;
        UserEmailName = UserEmailName.Substring(0, UserEmailName.IndexOf("@"));
    }
}
<form method="post" action="@Url.Action(action)" class="form-horizontal well">
    @if (action.Contains("Edit"))
    {
        @Html.HiddenFor(o => o.Item1.UserId)
        @Html.HiddenFor(o=>o.Item2.PAUId) 
    }
    @Html.HiddenFor(o => o.Item2.ProjectId, new { @Value = user.ProjectNo})
    @Html.HiddenFor(o => o.Item1.Creater, new { @Value = user.UserId })
    @Html.HiddenFor(o => o.Item1.CreateDate, new { @Value = DateTime.Now })
    @Html.HiddenFor(o => o.Item2.CreateDate, new { @Value = DateTime.Now })
    @Html.Hidden("DomainName",company.DomainName)
    @Html.HiddenFor(o => o.Item1.CompanyNo, new { @Value = user.CompanyNo })
    @Html.HiddenFor(o => o.Item2.IsAdmin, new { @Value = false})
    <div class="form-group">
        <label class="col-xs-12 col-md-2 control-label">@Html.LabelFor(o => o.Item1.UserEmail)</label>
        <div class="col-xs-6 col-md-4">
            @Html.TextBox("UserEmailName",@UserEmailName, new { @class="form-control"}) 
        </div>
        <label class="col-xs-6 col-md-6">@@@company.DomainName</label>
    </div>
    @if (!action.Contains("Edit"))
    {
            <div class="form-group">
            <label class="col-md-2 control-label">@Html.LabelFor(o => o.Item1.UserPwd)</label>
            <div class="col-md-8">
                @Html.PasswordFor(o => o.Item1.UserPwd, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">@Html.LabelFor(o => o.Item1.CheckPw)</label>
            <div class="col-md-8">
                @Html.PasswordFor(o => o.Item1.CheckPw, new { @class = "form-control" })
            </div>
        </div>
    }   
    <div class="form-group">
        <label class="col-md-2 control-label">@Html.LabelFor(o=>o.Item2.StartDate)</label>
        <div class="col-md-8">
            @Html.TextBoxFor(o=>o.Item2.StartDate, new { @class = "form-control", @type = "date",@Value=@Model.Item2.StartDate ==null?"":Model.Item2.StartDate.ToString("yyyy-MM-dd")})
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">@Html.LabelFor(o => o.Item2.EndDate)</label>
        <div class="col-md-8">
            @Html.TextBoxFor(o => o.Item2.EndDate, new { @class = "form-control", @type = "date", @Value = @Model.Item2.EndDate == null ? "" : Model.Item2.EndDate.ToString("yyyy-MM-dd") })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">@Html.LabelFor(o => o.Item1.PhoneNo)</label>
        <div class="col-md-8">
            @Html.TextBoxFor(o => o.Item1.PhoneNo, new { @class = "form-control", maxLength = "15" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">@Html.LabelFor(o => o.Item1.ExtensinNo)</label>
        <div class="col-md-8">
            @Html.TextBoxFor(o => o.Item1.ExtensinNo, new { @class = "form-control", maxLength = "6" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">@Html.LabelFor(o => o.Item1.IsActive)</label>
        <div class="col-md-8">
            @Html.CheckBoxFor(o => o.Item1.IsActive, new { @checked = "checked" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">@Html.LabelFor(o => o.Item1.Status)</label>
        <div class="col-md-8">
            @Html.TextBoxFor(o => o.Item1.Status, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">@Html.LabelFor(o=>o.Item2.InProjectStatus)</label>
        <div class="col-md-8">
            @Html.TextBoxFor(o=>o.Item2.InProjectStatus, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group text-center">
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>  
</form>