@using DbModel
@using DbModel.ViewModel.User
@using DbModel.Util.User
@model List<UserProfileVM>
@{
    ViewBag.Title = "Project Member";
}
<script>
    var EditPermission = function (userId) {
        $.ajax({
            url: "/Admin/GetMemberPermission",
            type: "post",
            data: { userId: userId },
            dataType: "json",
            success: function (data) {
                $("input[name='userId']").val(userId);
                $("#subFuncList input[type='checkbox']").prop("checked", false);
                for (var i in data) {
                    var jsonObj = data[i];
                    $("#subFuncList input[value='" + jsonObj.SubFunctionId + "']").prop("checked", true);
                }

                $(".modal").fadeIn();
            }
        });
    }

    var SetPermission = function () {
        $.ajax({
            url: "/Admin/SetMemberPermission",
            data: $("#subFuncForm").serialize(),
            type: "post",
            success: function (data) {
                alert(data);
                CloseDialog();
            }
        });
    }

    var CloseDialog = function () {
        $(".modal").fadeOut();
    }
</script>
<h2 class="col-xs-8">Project Member</h2>
<a href="@Url.Action("AddProjectMember")" class="btn btn-primary fa fa-plus pull-right" title="Add Project Member"></a>
<table class="table table-hover">
    <tr>
        <th>User Email</th>
        <th>Is Admin</th>
        <th></th>
    </tr>
    @foreach (UserProfileVM uVM in Model)
    {
        bool isAdmin = uVM.UserRole == UserDataUtil.Role.UserPM;
        <tr>
            <td>@uVM.UserEmail</td>
            <td>@isAdmin</td>
            <td>
                <a href="@Url.Action("EditProjectMember",new {@id = @uVM.UserId})" class="fa fa-edit btn btn-primary" title="Edit Project Member"></a>
                @if (!isAdmin)
                {
                    <a href="javascript:void(EditPermission('@uVM.UserId'))" class="fa fa-key btn btn-primary" title="Edit Member Permission"></a>
                }                
            </td>
        </tr>
    }
</table>
<div class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="CloseDialog()">&times;</button>
        <h4 class="modal-title">Edit User Permission</h4>
      </div>
      <form action="@Url.Action("SetPermission")" id="subFuncForm">
        <input type="hidden" name="userId" />
        <div class="modal-body">
            <ul id="subFuncList">
                @foreach (SubFunction subFunc in ViewBag.SubFuncList)
                {
                    <li><input type="checkbox" name="subFuncId" value="@subFunc.SubFunctionId" />@subFunc.SubFunctionName</li>
                }
            </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="CloseDialog()">Close</button>
            <button type="button" class="btn btn-primary" onclick="SetPermission()">Save changes</button>
          </div>
      </form>      
    </div>
  </div>
</div>