@using DbModel
@model UserProfile
@{
    ViewBag.Title = "_Form";
    string action = (string)ViewContext.RouteData.Values["action"];
    UserProfile user = (UserProfile)ViewBag.UserProfile;
}
@ViewBag.IsValid
<form method="post" action="@Url.Action(action)">
    @if (action == "Edit")
    {
        @Html.HiddenFor(o => o.CompanyNo);
    }
    @Html.HiddenFor(o => o.Creater, new { @Value = user.UserId })
    @Html.HiddenFor(o => o.CreateDate, new { @Value = DateTime.Now })
    <table>
        <tr>
            <td>@Html.LabelFor(o => o.UserEmail)</td>
            <td>@Html.TextBoxFor(o => o.UserEmail)</td>
        </tr>
        @if (action != "Edit")
        {
            <tr>
                <td>@Html.LabelFor(o => o.UserPwd)</td>
                <td>@Html.PasswordFor(o => o.UserPwd)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(o => o.CheckPw)</td>
                <td>@Html.PasswordFor(o => o.CheckPw)</td>
            </tr>
        }        
        <tr>
            <td>@Html.LabelFor(o => o.CompanyNo)</td>
            <td>
                <select name="CompanyNo">
                    @foreach (CompanyProfile c in ViewBag.CompanyList)
                    {
                        <option value="@c.CompanyNo" @(Model != null && c.CompanyNo == Model.CompanyNo?"selected":"")>@c.CompanyName</option>
                    }
                </select>                
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(o => o.ExpireDate)</td>
            <td>@Html.TextBoxFor(o => o.ExpireDate, new { @type = "date" })</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(o => o.PhoneNo)</td>
            <td>@Html.TextBoxFor(o => o.PhoneNo)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(o => o.ExtensinNo)</td>
            <td>@Html.TextBoxFor(o => o.ExtensinNo)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(o => o.IsActive)</td>
            <td>@Html.CheckBoxFor(o => o.IsActive, new { @checked = "checked" })</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(o => o.Status)</td>
            <td>@Html.TextBoxFor(o => o.Status)</td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="send" /></td>
        </tr>
    </table>    
</form>