@using DbModel
@model List<UserProfile>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form action="@Url.Action("DeleteItem")" method="post">
    <ul>
        @foreach (UserProfile u in Model)
        {        
            <li>
                <input type="checkbox" value="@u.UserId" name="id" /><a href="@Url.Action("Edit", new { @id = u.UserId })">@u.UserEmail</a>&nbsp;
                <a href="@Url.Action("UserAndFunction", new {@id = u.UserId }))">編輯Project權限</a>
            </li>
        }
    </ul>
    <input type="submit" value="Submit" />
</form>

